@model IEnumerable<TempSite.Models.Attempt>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Mid{
    <h2>Index</h2>
    @{
            var grid = new WebGrid(Model);
            @grid.GetHtml()
        @*
            List<TempSite.Models.Attempt> list = ViewBag.ActionLog;

                  if (list != null)
                  {
                      foreach (var item in list)
                      {
                          <i>@Html.Action("GetLogItem", new { item = item })</i><br />
                      }
                  }
        *@
    }
}

